#body
{
    zoom: 66%;
}
h1
{
    color: black;  
    font-family: cursive;
    font-size: 60px;
    margin-top: 5%;  
}
legend
{
    color: whitesmoke;
    font-family: cursive;
    font-size: 30px;
}

p
{
    margin-top: 10%;
}
fieldset
{
    width: 800px;
    margin-top: 0%;
}
.task
{
    color: white;
    background-color: black;
    font-family: cursive;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-flexbox;
    font-size: 25px;  
    padding: 37px;
    transition: transform .2s; /* Animation */
    width: 150px;
    height: 150px;
    margin: 40px;  
    border-radius: 50%;
}
.task:hover 
{
    transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.output
{
    margin-left: 45%;
    margin-top: -38.4%;
    width: 50%;
}
#t1:hover 
{
    background-color: violet;
    color: white;
    font-weight: bold;
}
#t2:hover 
{
    background-color: indigo;
    color: white;
    font-weight: bold;
}
#t3:hover 
{
    background-color: blue;
    color: white;
    font-weight: bold;
}
#t4:hover 
{
    background-color: Green;
    color: white;
    font-weight: bold;
}
#t5:hover 
{
    background-color: yellow;
    color: black;
    font-weight: bold;
}
#t6:hover 
{
    background-color: orange;
    color: black;
    font-weight: bold;
}
#t7:hover 
{
    background-color: Brown;
    color: white;
    font-weight: bold;
}

#t8:hover 
{
    background-color: Pink;
    color: black;
    font-weight: bold;
}
#t9:hover 
{
    background-color: red;
    color: white;
    font-weight: bold;
}
#t10:hover 
{
    background-color: White;
    color: black;
    font-weight: bold;
}
#t11:hover 
{
    background-color: silver;
    color: black;
    font-weight: bold;
}
#t12:hover 
{
    background-color: goldenrod;
    color: black;
    font-weight: bold;
}
#display
{
    width: 100%;
    font-size: 36px;
    word-spacing: 2px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Times, serif;
    height: 250px;
}
.output
{
    margin-top: -43%;
}
.output:hover
{
    margin-top: -43%;
}
#ctrlbtn
{
    margin-left: 80%;
    border-radius: 50%;
    background-color: lightskyblue;
}
